In [ ]:
#pandas

In [5]:
import pandas as pd
data = [1,2,3,4] #simple test
print(data)

series = pd.Series(data)
print(series)

[1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [7]:
List = pd.Series([1,2,3,4],index=['a','b','c','d'])
List

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#Dataframe

In [9]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
series = pd.Series([4,5], index = ["a","b"])
print(series)
type(series)
df = pd.DataFrame(series)

print(df)
type(df)

a    4
b    5
dtype: int64
   0
a  4
b  5

pandas.core.frame.DataFrame