Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to 
work with the structure of the data.
Tasks To Be Performed:
1. Create a list named ‘myList’ that has the following elements: 10, 20, 30, 
‘apple’, True, 8.10:
    1. Now in the ‘myList’, append these values: 30, 40
    2. After that, reverse the elements of the ‘myList’ and store that in 
‘reversedList’
2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’, 
‘information’ and ‘text’:
    1. After that, eliminate the ‘text’ value from the dictionary
    2. Add ‘features’ in the dictionary
    3. Fetch the ‘data’ element from the dictionary and display it in the output
3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
4. Create another tuple named numeric_tuple consisting of only integer 
values 10, 20, 30, 40, 50:
    1. Find the minimum value from the numeric_tuple
    2. Concatenate my_tuple with numeric_tuple and store the result in r1
    3. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’
5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}
Perform the below operation:
    1. set1 union set2
    2. set1 intersection set2
    3. set1 difference set2

In [19]:
myList = [10,20,30,'apple',True,8.10]
myList

[10, 20, 30, 'apple', True, 8.1]

In [20]:
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [21]:
myDict = {1:'data',2:'information',3:'text'}
myDict

{1: 'data', 2: 'information', 3: 'text'}

In [22]:
myDict.pop(3)
myDict

{1: 'data', 2: 'information'}

In [23]:
myDict[3]='Features'
myDict

{1: 'data', 2: 'information', 3: 'Features'}

In [24]:
print(myDict[1])

data

In [25]:
myTuple = (1,2,3,'apple','mango')
myTuple

(1, 2, 3, 'apple', 'mango')

In [26]:
numeric_Tuple = (10,20,30,40,50)
numeric_Tuple

(10, 20, 30, 40, 50)

In [27]:
print("Minimum value: ", min(numeric_Tuple))

Minimum value:  10

In [28]:
r1 = myTuple + numeric_Tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [29]:
newdupli = myTuple * 2

print(newdupli)

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [30]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}
print("Union: ",set1.union(set2))
print("Intersection: ",set1.intersection(set2))
print("Difference: ",set1.difference(set2))

Union:  {1, 2, 3, 4, 5, 6, 7}
Intersection:  {1, 2, 3}
Difference:  {4, 5}